.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin: 0px;
  min-height: 94.2vh;
  min-width: 100%;
  opacity: 1;
  background: linear-gradient(135deg, rgba(18,237,247,1) 0%, rgba(245,11,185,1) 100%) , url("./magicpattern.png");

  background-blend-mode:soft-light;
}
